<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Devices</ion-title>

    <ion-button slot="end" fill="clear" (click)="scan()">SCAN</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Available devices</ion-list-header>

    <ion-radio-group *ngIf="serialDevices && serialDevices.length; else noDevice">
      <ion-item *ngFor="let serialDevice of serialDevices" button="true" (click)="toggleConnection(serialDevice)">
        <ion-radio value="{{ serialDevice.id }}" slot="start"></ion-radio>
        <ion-label>
          {{ serialDevice.name }} <ion-note>{{ serialDevice.manufacturer }}</ion-note>
        </ion-label>
        <ion-badge *ngIf="serialDevice.isConnected" slot="end" color="success">ON</ion-badge>
      </ion-item>
    </ion-radio-group>
    <ng-template #noDevice>
      <ion-item lines="none">
        <ion-note>Click can to start</ion-note>
      </ion-item>
    </ng-template>
  </ion-list>
</ion-content>
