<ion-header>
  <ion-toolbar>
    <ion-title>Serialportronic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Control Board start -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Control Board</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button (click)="scan()">
              <b>SCAN</b>
            </ion-button>

            <ion-button
              (click)="openPort()"
              *ngIf="!port"
              [disabled]="!selectedPortId"
            >
              <b>OPEN</b>
            </ion-button>

            <ion-button (click)="closePort()" *ngIf="port" [disabled]="!port">
              <b>CLOSE</b>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Command</ion-label>
              <ion-input type="text" [(ngModel)]="command"></ion-input>
            </ion-item>

            <ion-button
              (click)="send()"
              [disabled]="!command || !port || timeout"
            >
              <b>SEND</b>
            </ion-button>

            <ion-button (click)="auto()" [disabled]="!command || !port">
              <b>AUTO</b>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Available Ports start -->
  <ion-card>
    <ion-card-header>
      <ion-card-title [color]="selectedPortId ? 'success' : 'warning'">{{
        selectedPortId ? "Selected Port" : "Available Ports"
      }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="1">{{ tableData.headerRow[0] }}</ion-col>
          <ion-col size="2">{{ tableData.headerRow[1] }}</ion-col>
          <ion-col>{{ tableData.headerRow[2] }}</ion-col>
          <ion-col>{{ tableData.headerRow[3] }}</ion-col>
          <ion-col>{{ tableData.headerRow[4] }}</ion-col>
        </ion-row>

        <ion-row *ngFor="let row of tableData.dataRows">
          <ion-col size="1">{{ row.id }}</ion-col>
          <ion-col size="2">
            <a (click)="getPort($event)">{{ row.comName }}</a>
          </ion-col>
          <ion-col>{{ row.manufacturer }}</ion-col>
          <ion-col>{{ row.vendorId }}</ion-col>
          <ion-col>{{ row.productId }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Log Screen start -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Log Screen</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-textarea [(ngModel)]="screen" rows="3"> </ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

